html,body{overflow-x:hidden;/*禁止显示X轴滚动条*/}
h2,h3,p{
	text-align:center;
}
p{margin-bottom:0;padding:2% 0;}

/**/
.row{border-bottom:1px solid #ccc;padding:1% 0;}
/*导航*/
nav.navbar{margin-bottom:0;}
/*z主体*/
.centainer{
	
}
.row{background:#eee;box-shadow: 0px 10px 3px 10px rgba(0, 0, 0, .3)}
/*作品*/
span{overflow:visible;width:70%;height:200%;overflow:hidden;}	
/*联系*/
form div input.form-control, form .btn-block{width:90%;min-height:50px;}

