
html,body{overflow-x:hidden;background: #f1f1f1;}
h2{font-weight:900;}
h3{font-weight:800;margin-bottom:8%;}
﻿html,body{overflow-x:hidden;}
h2{font-weight:900;}
h3{font-weight:800;margin-bottom:20px;}
h2,h3,p{text-align:center;}
p{margin-bottom:0;padding:2% 0;color:#444;}
/*格栅*/
.row{border-top:none;padding:1% 0;}
/*z主体*/
.centainer{max-width:920px;background: #fff;}
.centainer .row .col-sm-4{margin-bottom:10%;}
/*我的*/
p.self-introduction{color:#666;font-size:12px;padding-left: 4%;padding-right: 4%;}
/*技能*/
.progress{margin:5%;font-weight:800;}
/*技能*/
.skill{}
.page-title small{font-size:1px;color:#ccc;}
.progress{margin:3% 5%;font-weight:800;}
.progress.js>div{width:76%;background:#FC0;}
.progress.laravel>div{width:73%;background:#f4645f;}
.progress.thinphp5>div{width:67%;background:rgb(111,183,55);}
.progress.vue>div{width:65%;background:#4fc08d;}

.progress.php>div{width:55%;}
.progress.bootstrap>div{width:49%;background:#306;}
.progress.jquery>div{width:46%;background:blue;}
.progress.html5>div{width:42%;}
.progress.css3>div{width:38%;}

/*作品*/
.col-sm-6{margin:6% 0;}
#porject span{overflow:visible;width:40%;height:200%;overflow:hidden;}
#porject .body{margin:5% 3%;}
#porject .body tt{width:55%;float:right;color:#666;}
#porject span.center-block img{width: 100%;}
/*联系*/
.contact p{padding:8px 0;}
.contact .iconfont{margin-left: 8px}
form div input.form-control, form .btn-block{width:90%;min-height:50px;}
.col-sm-12 img{width:5%;}
